# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Vim
# Swap files
.[a-z]*.sw[a-p]
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
*~

# Log files
*.log
